
.cabeçalho{
       background-color: #FF9E9E;
       padding: 0px;
       margin: 0px;
       height: 250px;
       background: ;
       display: flex;
       align-items: center;
       flex-direction: row;
       justify-content: space-between;
}

.título-corpo{
       display: flex;
       justify-content: center;
       height: 24px;
}

.imagem-corpo{}

.div-imagem-p1{
       display: flex;
       align-items: center;
       text-align: center;
       font-size: 25px;
       justify-content: space-around;
}

.p2-p3-p4-p5{
       display: flex;
       align-items: center;
       text-align: center;
       font-size: 25px;
       justify-content: space-around;
       flex-direction: column;
}

.imagem-corpo-2{
       display: flex;
       align-items: center;
       justify-content: center;
}

.p6-p7-p8{ 
       display: flex;
       align-items: center;
       text-align: center;
       font-size: 25px;
       justify-content: space-around;
       flex-direction: column;

}

footer{
       display: flex;
       align-items: center;
       justify-content: center;
       background-color: #FF9D9D;
}